@import './../../_theme.scss';

.HighlightBadge {
  width: $layout-lg;
  height: $layout-lg;
  background-color: $color-background-light-primary;
  position: absolute;
  top: $spacing-xs;
  right: $spacing-xs;
  border-radius: $border-radius-circle;
  display: flex;
  justify-content: center;
  align-items: center;
}
