@import './../../_theme.scss';
@import './../../_mixins.scss';

.SpotCard {
  @include card();

  img {
    width: 100%;
    filter: saturate(1.2);
  }

  /*

  h2 {
    @include TextHeading2()
    padding: 16px 32px 8px 16px;
  }

  p {
    @include TextLabel()
    padding: 0 16px 16px 16px;
  }
  */
}
