@import './../../_theme.scss';
@import './../../_mixins.scss';

.PageLayoutTextBlock {
  padding: 64px 0 0;

  &__Title {
    @include text-preset-6()
    color: $color-text-tertiary-on-light;
    padding: 0 0 16px 0;
  }

  &__Item {
    list-style: none;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
