@import './../../_theme.scss';

.InlineImage {
  width: 100%;
  border-radius: $border-radius-blunt;
  overflow: hidden;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;

  img {
    width: 100%;
    filter: saturate(1.2);
  }
}
