@import './../../_theme.scss';
@import './../../_mixins.scss';

.Navigation {
  width: 100%;
  height: $layout-md + $spacing-lg + $spacing-lg;
  background-color: $color-background-light-primary;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__Brand {
    font-weight: $font-weight-bold;
  }

  &__Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__Item {
    @include text-body-sm;
    text-decoration: none;
    color: $color-text-tertiary-on-light;
    margin-left: $spacing-xxl;
    transition: all $transition-slow cubic-bezier(.25,.8,.25,1);

    &:hover {
      color: $color-text-primary-on-light;
    }

    &--Selected {
      color: $color-text-primary-on-light;
    }
  }

  &__Icon {
    display: none;
    // width: $layout-lg;
    // height: $layout-lg;
    // display: grid;
    // place-items: center;
    // border-radius: $border-radius-blunt;
    // background: red;
    width: $spacing-xl;
    height: $spacing-xl;
  }
  
  @media (max-width: $breakpoint-xl + $layout-xs + $layout-xs) {
    height: $layout-md + $spacing-xs + $spacing-xs;
    bottom: 0;
    top: auto;

    &__Brand {
      display: none;
    }

    &__Menu {
      width: 100%;
      background-color: red;
      justify-content: space-between;
    }

    &__Item {
      // width: $layout-md;
      // height: $layout-md;
      margin: 0;
    }

    &__Text {
      display: none;
    }

    &__Icon {
      display: block;
      width: $spacing-lg;
      height: $spacing-lg;
    }
  }
}
