@import './../../_theme.scss';
@import './../../_mixins.scss';

.PageLayoutHeading {
  padding: 0;

  &__Title {
    @include text-preset-2()
    padding: 0 0 64px 0;
  }

  &__Blurb {
    @include text-preset-8()
    color: $color-text-tertiary-on-light;
    line-height: 56px;
    padding: 0  0 120px 0;
  }
}
