@import './../../_theme.scss';
@import './../../_mixins.scss';

.PageLayoutHeading {
  padding: 0;
  
  &__Title {
    @include text-heading-lg()
    padding: $layout-xxxl 0 $layout-md 0;
    overflow: hidden;
    width: 100%;
  }

  &__Blurb {
    @include text-body-lg()
    color: $color-text-tertiary-on-light;
    padding: 0  0 $layout-xxl 0;
  }

  @media (max-width: $breakpoint-md) {
    &__Title {
      padding: $layout-sm 0 $layout-xs 0;
    }

    &__Blurb {
      padding-top: $layout-xs;
      padding-bottom: $layout-sm;
    }
  }
}
