@import './../../_theme.scss';
@import './../../_mixins.scss';

.OutstandingCard {
  @include card();
  width: 270px;
  height: 420px;
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: bottom;

  &__Image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: saturate(1.2);
    transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
  }

  &__Link {
    text-decoration: none;
  }

  &__Position {
    @include text-preset-12();
    font-style: normal;
    color: $color-text-secondary-on-light;
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 48px;
    margin: 64px auto 0;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-background-light-primary;
      position: absolute;
      border-radius: 8px;
      transform: rotate(45deg);
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__Title {
    @include text-preset-5();
    color: $color-text-primary-on-dark;
    margin: $spacing-md $spacing-lg $spacing-md $spacing-md;
    text-align: center;
  }

  &__Subtitle {
    @include text-preset-11();
    color: $color-text-tertiary-on-light;
    padding: 0 $spacing-lg $spacing-md $spacing-md;
  }

  &:hover & {
    &__Image {
      filter: saturate(1.8);
    }
  }
}
