@import './../../_theme.scss';

.PageLayoutImage {
  width: 100%;
  border-radius: $border-radius-blunt;
  overflow: hidden;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05);

  &__Image {
    width: 100%;
    filter: saturate(1.2);
  }

  @media (max-width: $breakpoint-xl + $layout-xs + $layout-xs) {
    border-radius: 0;
  }
}
