@import './../../_theme.scss';
@import './../../_mixins.scss';

.HighlightCard {
  @include card();
  background-color: $color-brand-primary;
  color: $color-text-primary-on-dark;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  padding: 24px;

  &:hover {
    transform: none;
    box-shadow: none;
  }

  &__Content {
    @include text-body-sm();
  }
}
