@import './../../_theme.scss';
@import './../../_mixins.scss';

.TextBlock {
  padding: 64px 0 0;

  h2 {
    @include text-preset-11()
    color: $color-text-tertiary-on-light;
    padding: 0 0 16px 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
