// ----------------------------------------------------------------
// MIXINS
// Tools and general reusable styles
// ----------------------------------------------------------------


// Tokens Import
@import './_theme.scss';


// Card
@mixin card() {
  border-radius: $border-radius-normal;
  box-shadow: $elevation-medium;
  background-color: $color-background-light-primary;
  transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  position: relative;

  a {
    display: block;
    line-height: 0;
  }

  &:hover {
    box-shadow: $elevation-highest;
    transform: translateY(-8px);
  }
}


// Text presets
// Headline
@mixin text-preset-1 {
  font-family: $font-title;
  font-size: $font-scale-1;
  font-weight: $font-weight-semibold;
  line-height: $line-height-1;
  letter-spacing: -4px;
  text-transform: none;
}

// Heading level 1
@mixin text-preset-2 {
  font-family: $font-title;
  font-size: $font-scale-4;
  font-weight: $font-weight-light;
  line-height: $line-height-4;
  letter-spacing: 0.2px;
  text-transform: none;
  color: $color-text-primary-on-light;
}

// Heading level 2
@mixin text-preset-3 {
  font-family: $font-title;
  font-size: $font-scale-6;
  font-weight: $font-weight-regular;
  line-height: $line-height-6;
  letter-spacing: normal;
  text-transform: none;
}

// Heading level 3
@mixin text-preset-4 {
  font-family: $font-title;
  font-size: $font-scale-7;
  font-weight: $font-weight-regular;
  line-height: $line-height-7;
  letter-spacing: normal;
  text-transform: none;
}

// Heading level 4
@mixin text-preset-5 {
  font-family: $font-title;
  font-size: $font-scale-8;
  font-weight: $font-weight-regular;
  line-height: $line-height-8;
  letter-spacing: normal;
  text-transform: none;
}

// Heading level 5
@mixin text-preset-6 {
  font-family: $font-title;
  font-size: $font-scale-9;
  font-weight: $font-weight-semibold;
  line-height: $line-height-9;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

// Heading level 6
@mixin text-preset-7 {
  font-family: $font-title;
  font-size: $font-scale-10;
  font-weight: $font-weight-regular;
  line-height: $line-height-10;
  letter-spacing: normal;
  text-transform: none;
}

// Body text large
@mixin text-preset-8 {
  font-family: $font-text;
  font-size: $font-scale-7;
  font-weight: $font-weight-light;
  line-height: $line-height-7;
  letter-spacing: 0.25px;
  text-transform: none;
}

// Body text medium
@mixin text-preset-9 {
  font-family: $font-text;
  font-size: $font-scale-8;
  font-weight: $font-weight-regular;
  line-height: $line-height-8;
  letter-spacing: 0.2px;
  text-transform: none;
}

// Body text small
@mixin text-preset-10 {
  font-family: $font-text;
  font-size: $font-scale-9;
  font-weight: $font-weight-regular;
  line-height: $line-height-9;
  letter-spacing: normal;
  text-transform: none;
}

// Eyebrow
@mixin text-preset-11 {
  font-family: $font-text;
  font-size: $font-scale-10;
  font-weight: $font-weight-semibold;
  line-height: $line-height-10;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

// Subtitle serif
@mixin text-preset-12 {
  font-family: $font-accent;
  font-size: $font-scale-7;
  font-weight: $font-weight-thin;
  font-style: oblique;
  line-height: $line-height-7;
  letter-spacing: 0.5px;
  text-transform: none;
}
