// ----------------------------------------------------------------
// APP STYLES
// General common styles
// ----------------------------------------------------------------


// Tokens and mixins import
@import './_theme.scss';
@import './_mixins.scss';


// Layout styles
body {
  @include text-preset-9()
  background-color: $color-background-light-secondary;
  color: $color-text-primary-on-light;
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}


// Text styles reset
h1, h2, h3, h4, h5, h6, p, ul, li {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}


// Text styles
h1 {
  @include text-preset-2()
}

h2 {
  @include text-preset-3()
}

h3 {
  @include text-preset-4()
}

h4 {
  @include text-preset-5()
}

h5 {
  @include text-preset-6()
}

h6 {
  @include text-preset-7()
}

p {
  @include text-preset-9()

  a {
    &:hover {
    }
  }
}

.headline {
  @include text-preset-1()
}

.eyebrow {
  @include text-preset-11()
}

a {
  text-decoration: none;
}


// Grid
.Layout {
  display: grid;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: $breakpoint-xxl;
  grid-column-gap: $layout-sm;
  grid-row-gap: $layout-md;
  padding: 0 $layout-xs;
  grid-auto-rows: auto;

  &--Col-1 {
    grid-template-columns: repeat(1, minmax(10px, 1fr))
  }

  &--Col-2 {
    grid-template-columns: repeat(2, minmax(10px, 1fr))
  }

  &--Col-3 {
    grid-template-columns: repeat(3, minmax(10px, 1fr))
  }

  &--Col-6 {
    grid-template-columns: repeat(6, minmax(10px, 1fr))
  }

  &--Col-12 {
    grid-template-columns: repeat(12, minmax(10px, 1fr))
  }

  &--Inset {
    padding: 0;
  }
}


// Filters
.Filters {
  display: grid;
  justify-content: flex-start;
  margin: 24px auto 32px;
  max-width: $breakpoint-xxl;
  grid-column-gap: $layout-sm;
  grid-row-gap: $layout-md;
  padding: 0 $layout-xs;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-rows: auto;

  .filterItem {
    transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
    font-size: 14px;
    text-transform: uppercase;
    border: 1px black solid;
    color: black;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 4px 4px 0;
    display: inline-block;
    cursor: pointer;
    opacity: 0.2;
    background-color: transparent;

    &.active {
      opacity: 1;
      color: royalblue;
      border-color: royalblue;
      background-color: #d6e9ff;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .filterClear {
    transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
    font-size: 14px;
    text-transform: uppercase;
    border: 1px #d80101 solid;
    color: #d80101;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 4px 4px 0;
    display: inline-block;
    cursor: pointer;
    background-color: #ffe2e7;
    opacity: 0.5;

    &.hidden {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}
