// ----------------------------------------------------------------
// APP STYLES
// General common styles
// ----------------------------------------------------------------


// Tokens and mixins import
@import './_theme.scss';
@import './_mixins.scss';


// Layout styles
html,
body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include text-body-sm();
  background-color: $color-background-light-secondary;
  color: $color-text-primary-on-light;
  padding: 0;
  margin: 0; 
}

#root {
  height: 100%;
  min-height: 100%;
}


// Text styles reset
h1, h2, h3, h4, h5, h6, p, ul, li {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}


// Links
p {
  a {
    transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
    color: $color-brand-primary;
    position: relative;

    &:after {
      transition: all $transition-slow cubic-bezier(.25,.8,.25,1);
      content: '';
      width: 0;
      height: 1px;
      background-color: $color-text-primary-on-light;
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
    }

    &:hover {
      color: $color-text-primary-on-light;

      &:after {
        width: 100%;
      }
    }
  }
}


// Pages
.Page {
  &__Wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: $breakpoint-xl;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

    &--BottomPadding {
      padding-bottom: $layout-xxl;
    }

    &--BottomPaddingLess {
      padding-bottom: $layout-lg;
    }
  }

  @media (max-width: $breakpoint-xl + $layout-xs + $layout-xs) {
    &__Wrapper {
      max-width: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    &__Wrapper {
      padding-top: 0;
      padding-bottom: $layout-xxl;
    }
  }
}


// Grid
.Grid {
  display: grid;
  grid-template-rows: auto;

  &__Content {
    grid-area: content;
    min-width: 0;
    width: 100%;
  }

  &--Col-8 {
    grid-template-columns: 16.66% 1fr 16.66%;
    grid-template-areas: ". content .";
  }

  &--Col-10 {
    grid-template-columns: 8.33% 1fr 8.33%;
    grid-template-areas: ". content .";
  }

  &--Col-12 {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }

  @media (max-width: $breakpoint-xl + $layout-xs + $layout-xs) {
    padding-left: $layout-xs;
    padding-right: $layout-xs;

    &--Col-2 {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }

    &--Col-10 {
      grid-template-columns: 0 1fr 0;
      grid-column-gap: 0;
    }
  }
}


//Test
.test-text-1 {
  @include text-display();
}

.test-text-2 {
  @include text-heading-lg();
}

.test-text-3 {
  @include text-heading-md();
}

.test-text-4 {
  @include text-heading-sm();
}

.test-text-5 {
  @include text-body-lg();
}

.test-text-6 {
  @include text-body-md();
}

.test-text-7 {
  @include text-body-sm();
}

.test-text-8 {
  @include text-body-xs();
}

.test-text-9 {
  @include text-detail-legend();
}

.test-text-10 {
  @include text-detail-accent();
}

.test-text-11 {
  @include text-detail-rank();
}
